<!-- <mat-form-field>
  <mat-label>Start date</mat-label>
  <input matInput [(ngModel)]="selectedStartDate" [matDatepickerFilter]="startFilter" [matDatepicker]="picker1" readonly (click)="picker1.open()">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>End date</mat-label>
  <input matInput [(ngModel)]="selectedEndDate" [matDatepickerFilter]="endFilter" [matDatepicker]="picker2" readonly (click)="picker2.open()">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field> -->
<p><button (click)="getCalls()">Set min</button></p>