<div>

  <mat-form-field>
    <mat-label>Start date</mat-label>
    <input matInput [matDatepickerFilter]="startDateFilter" [(ngModel)]="startDate" [matDatepicker]="picker1" readonly
      (click)="picker1.open()">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>End date</mat-label>
    <input matInput [matDatepickerFilter]="endDateFilter" [(ngModel)]="endDate" [matDatepicker]="picker2" readonly (click)="picker2.open()">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Operator</mat-label>
    <mat-select [(ngModel)]="selectedOperator">
      <mat-option *ngFor="let operator of operatorsList" [value]="operator">
        {{operator}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Call status</mat-label>
    <mat-select [(ngModel)]="selectedStatus">
      <mat-option *ngFor="let status of statusList" [value]="status.id">
        {{status.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="testForm()">Test form</button>
  <button mat-raised-button (click)="getData()">Get data</button>
</div>
<div>
  Here will be table with data
</div>